@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ border:none;}
li{ list-style:none;}
a{ text-decoration:none;}
.clearfix::after {display: block;content: " 20";height: 0;clear: both;overflow: hidden;visibility: hidden;}
body{font: 12px/1 "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
background:#328EB4 url(../images/body_bg_02.png)  0 0 repeat-x;}
.header{width:100%;position: relative;height: 100px;min-width: 960px;}
.current-nav {text-align: left;width: 180px;}
.current-nav, .v-return-home {display: block;font-size: 18px;line-height: 20px;color: #E0E2E6;}
.current-nav{position: absolute;top: 30px;left: 22px;display: block;}
.menu-more-ico {display: inline-block;
background: url(../images/xuanxiang_03.png) no-repeat;
width: 17px;height: 14px;margin-right: 20px;}

.vh-avator-area {position: absolute;top: 25px;right:24px;color: #E0E2E6;line-height: 28px;}
.account-avator {position: relative;overflow: hidden;}
.account-avator {width: 30px;height: 30px;display: inline-block;vertical-align: middle;
margin-right: 10px;background: url(../images/header_user_05.png) 1px 1px no-repeat;}
.account-avator-bg {position: absolute;top: 0;left: 0;width: 30px;height: 30px;
background: url(../images/header_user_05.png) no-repeat;
-webkit-pointer-events: none;-moz-pointer-events: none;pointer-events: none;}
.account-name {display: inline-block;overflow: hidden;vertical-align: middle;white-space: nowrap;text-overflow: ellipsis;}
.account-name b{ font-weight:normal; font-size:12px; color:#FAFA6C;}
.account-name a{ color:#9B9A9A;}

/*******侧栏导航******/
.sidebar{width:140px;height:100%;position:fixed;left:-140px;top:0;background-image:url(../images/sidebar.png);}
.sidebar li{width:140px;height:85px;position:relative; text-align:center;margin:10px 0px;}
.sidebar li img{display:block;width:52px;margin:0px auto;}
.sidebar li span{display:block;width:100%;position:absolute;bottom:0; left:0;font-size:12px;color:#f5f5f5;}

/*******主页页面样式******/
.main-container{width: 100%;position: absolute;top: 50%;margin-top: -80px;text-align: center;}
.main ul{ margin:0 auto; width:810px;}
.main li{float:left;width:140px;height:150px;margin-left:42px;text-align: center;position:relative;cursor: pointer;}
.main li img{display:block;margin:0 auto;margin-top:10px;}
.main li span{display:block;width:100%;text-align:center;position:absolute;bottom:0; left:0;font-size:16px;color:#beced9;}
