<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
