<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="databaseType" value="SqlServer" />
  </appSettings>
  <connectionStrings>
    <!--Sql Server-->
    <add providerName="System.Data.SqlClient" name="SqlServer"
         connectionString="Data Source=.;Initial Catalog=teaCRM;User ID=sa;Password=105036" />
    <!--MySql-->
    <add providerName="MySql.Data.MySqlClient" name="MySql" connectionString="Host=localhost;UserName=root;Password=;Database=test;Port=3306;CharSet=utf8;Allow Zero Datetime=true;logging=true;pooling=true; Min Pool Size=5; Max Pool Size=30; Connect Timeout=1; default command timeout=1;Connection reset =false" />
    <!--Oracle-->
       <add providerName ="System.Data.OracleClient" name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl))); User Id=system;Password=123;"/>
    <!--SqLite-->
     <add providerName="System.Data.SQLite" name="SqLite" connectionString="Data Source=DataBase/Northwind.sl3;Pooling=true;FailIfMissing=false" />
  <!--Access-->
     <add providerName ="System.Data.OleDb" name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=UCsoft.T4/Data/Access/Northwind.mdb;Persist Security Info=True"/>
   <!---SqlCE-->
   <add providerName="System.Data.SqlServerCe.3.5" name="SqlCe" connectionString="Data Source=UCsoft.T4/Data/SqlCE/Northwind.sdf;Persist Security Info=True" /> 
  </connectionStrings>
<system.data>
    <DbProviderFactories>
     
      <add name="MySql"
           invariant="MySql.Data.MySqlClient"
           description="ddd"
           type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data"/>
    </DbProviderFactories>
 <add name="Oracle"
           invariant="System.Data.OracleClient"
           description="ddd"  type="System.Data.OracleClient.OracleClientFactory,System.Data.OracleClient"/>
</system.data>
</configuration>