<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="databaseType" value="EdSqlServer" />
  </appSettings>
  <connectionStrings>
    <!--Sql Server-->
    <add providerName="System.Data.SqlClient" name="EdSqlServer"
         connectionString="Data Source=.;Initial Catalog=xueronghua;User ID=sa;Password=105036" />
    <!--MySql
    <add providerName="MySql.Data.MySqlClient" name="EdMySql" connectionString="Host=localhost;UserName=root;Password=;Database=xueronghua;Port=3306;CharSet=utf8;Allow Zero Datetime=true;logging=true;pooling=true; Min Pool Size=5; Max Pool Size=30; Connect Timeout=1; default command timeout=1;Connection reset =false" />
    -->
  </connectionStrings>
</configuration>